:root {
   --primary-text-color: #212121;
   --secondary-text-color: #757575;
   --title-text-color: #000000;
   --accent-text-color: #2196f3;
   --main-background: #ffffff;
   --contrast-text: #ffffff;
   --secondary-background-one: #2f303a;
   --secondary-background-two: #f5f4fa;
   --typical-padding-ident: 94px;
   --icons-color: #afb1b8;
   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

ul {
   margin: 0;
   padding-left: 0;
}

body {
   background-color: var(--main-background);

   color: var(--primary-text-color);
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
}

/* ----------header---------- */
.header {
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #ececec;
}

.header-menu {
   display: flex;
   align-items: center;
}

.header .container {
   display: flex;
   align-items: center;
}

.container {
   width: 1200px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
   /*outline: 1px solid red;*/
}

/* ----------Logo---------- */
.top-logo {
   margin-right: 93px;

   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: var(--primary-text-color);

   text-decoration: none;

   transition: color 250ms var(--timing-function);
}

.first-part-logo {
   color: var(--accent-text-color);
}

.top-logo:hover,
.top-logo:focus,
.bottom-logo:hover,
.bottom-logo:focus {
   color: var(--accent-text-color);
}

.top-logo:focus-visible,
.bottom-logo:focus-visible {
   outline: 2px solid var(--accent-text-color);
   border-radius: 4px;
}

/* ----------Navigation + Contacts + Footer---------- */
.site-nav .link:hover,
.site-nav .link:focus,
.footer .link:hover,
.footer .link:focus {
   color: var(--accent-text-color);
}

.site-nav .link:focus-visible,
.contacts .link:focus-visible,
.footer .link:focus-visible {
   outline: 2px solid var(--accent-text-color);
   border-radius: 4px;
}

/* ----------Navigation---------- */
.site-nav {
   display: flex;

   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
}

.site-nav .link {
   color: var(--primary-text-color);

   transition: color 250ms var(--timing-function),
      drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.site-nav .current {
   color: var(--accent-text-color);
}

.current::after {
   position: absolute;
   content: "";
   width: 100%;
   height: 4px;
   border-radius: 2px;
   left: 0;
   bottom: -1px;
   background-color: var(--accent-text-color);
}

.site-nav-item {
   position: relative;
}

.site-nav-item:not(:last-child) {
   margin-right: 40px;
}

.list {
   list-style: none;
}

.header .link {
   display: block;
   padding: 32px 0;
}

.link {
   text-decoration: none;
}

/*----------Contacts----------*/
.contacts {
   display: flex;
   margin-left: auto;
}

.contacts .link {
   display: flex;
   align-items: center;

   color: var(--secondary-text-color);

   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;

   transition: color 250ms var(--timing-function);
}

.contacts .link:hover,
.contacts .link:focus {
   color: var(--accent-text-color);
}

.icon-envelope,
.icon-smartphone {
   fill: currentColor;
   margin-right: 10px;
}

.contacts-item:not(:last-child) {
   margin-right: 50px;
}

/* ----------effective solutions---------- */
.hero {
   padding-top: 200px;
   padding-bottom: 200px;

   background-color: #c4c4c4;
   background-image: linear-gradient(
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
      ),
      url(../images/team.jpg);
   max-width: 1600px;
   margin: 0 auto;
}

.hero-title {
   max-width: 696px;
   margin: 0 auto;
   margin-bottom: 30px;

   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;

   color: var(--contrast-text);
}

.button,
.button-modal {
   cursor: pointer;

   background-color: var(--accent-text-color);
   border: 2px solid var(--accent-text-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   color: var(--contrast-text);
   margin: 0 auto;
   padding: 10px 32px;

   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;

   transition: color 250ms var(--timing-function),
      shadow 250ms var(--timing-function);
}

.button:hover,
.button:focus {
   background: #188ce8;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}

.button:focus-visible {
   outline: 1px solid #188ce8;
   border-radius: 4px;
}

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transition: opacity 250ms, visibility 250ms;
   background-color: rgba(0, 0, 0, 0.1);

   opacity: 1;
   transition: opacity 500ms var(--timing-function);
}

.backdrop.is-hidden {
   opacity: 1;
   pointer-events: none;
   visibility: hidden;
}

.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(0.2);
}

.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   width: 528px;
   height: 581px;

   background-color: var(--secondary-background-two);
   border-radius: 4px;

   transition: transform 250ms var(--timing-function);
   box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
}

.button-modal {
   margin-top: 20px;
   margin-right: 20px;
}

.button-modal::before {
   content: "";
   width: 20px;
   height: 20px;
   background-image: url(../images/close.svg);
   background-size: contain;
   margin-right: 10px;
}

.button-modal:hover,
.button-modal:focus {
   background-color: yellowgreen;
   transition: background-color 500ms var(--timing-function);
}

/* ----------Our benefits---------- */
.benefits {
   padding-top: var(--typical-padding-ident);
   padding-bottom: var(--typical-padding-ident);
}

.benefits .benefits-hide-title {
   width: 1px;
   height: 1px;
   overflow: hidden;
   opacity: 0;
   margin: -1px;
}

.title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
}

.benefits-title {
   margin-bottom: 10px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-transform: uppercase;
}

.benefits .list {
   display: flex;
}

.benefits-item {
   width: 270px;
}

.benefits-item:not(:last-child) {
   margin-right: 30px;
}

.wrap-icon {
   height: 120px;
   width: 100%;
   border-radius: 4px;
   background-color: var(--secondary-background-two);
   display: flex;
   align-items: center;
   justify-content: center;

   margin-bottom: 30px;
}

.benefits-text {
   font-weight: 400;
   font-size: 14px;
   line-height: 2;

   color: var(--secondary-text-color);
}

/* ----------What we do---------- */
.activity {
   padding-bottom: var(--typical-padding-ident);
}

.activity .title {
   margin-bottom: 50px;
}

.activity .list {
   display: flex;
   margin: -15px;
}

.activity-item {
   margin: 15px;
   position: relative;
}

img {
   display: block;
}

.activity-item-title {
   position: absolute;
   width: 100%;
   height: 70px;
   left: 0;
   bottom: 0;
   padding-top: 27px;

   color: var(--contrast-text);
   background-color: rgba(47, 48, 58, 0.8);

   font-weight: 700;
   font-size: 14px;
   line-height: 1.143;
   text-align: center;
   text-transform: uppercase;
}

/* ----------Our team---------- */
.team {
   padding-top: var(--typical-padding-ident);
   padding-bottom: var(--typical-padding-ident);

   background-color: var(--secondary-background-two);
}

.team .title {
   margin-bottom: 50px;
}

.team .list {
   display: flex;
}

.team-item {
   background: var(--main-background);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
   margin-right: 30px;
}

.identification {
   padding: 30px 0;
}

.team-surname {
   margin-bottom: 10px;

   font-size: 16px;
   line-height: 1.19;
   text-align: center;
}

.team-specialty {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   margin-bottom: 16px;

   color: var(--secondary-text-color);
}

.team-soc-list {
   justify-content: center;
}

.team-soc-item {
   width: 44px;
   height: 44px;
   margin-right: 10px;
}

.team-soc-item:last-child {
   margin-right: 0;
}

.team-soc-link {
   width: 100%;
   height: 100%;
   display: flex;
   border-radius: 50%;
   fill: var(--icons-color);
   align-items: center;
   justify-content: center;

   transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function);
}

.team-soc-icon {
   color: var(--contrast-text);
}

.team-soc-link:hover,
.team-soc-link:focus {
   background-color: var(--accent-text-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
   fill: var(--contrast-text);
}

.team-soc-link:focus-visible {
   outline: 2px solid var(--accent-text-color);
   border-radius: 4px;
}

/* ----------Clients---------- */
.clients {
   padding-top: var(--typical-padding-ident);
   padding-bottom: var(--typical-padding-ident);

   background-color: var(--main-background);
}

.clients .title {
   margin-bottom: 50px;
}

.clients-list {
   display: flex;
}

.clients-item {
   width: 170px;
   height: 92px;
   display: flex;
   border: 1px solid var(--icons-color);
   border-radius: 4px;
   margin-right: 30px;

   transition: border 250ms var(--timing-function);
}

.clients-item:last-child {
   margin-right: 0;
}

.clients-link {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.clients-icon {
   fill: var(--icons-color);

   transition: fill 250ms var(--timing-function);
}

.clients-item:hover,
.clients-item:focus {
   border: 1px solid var(--accent-text-color);
   border-radius: 4px;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
   fill: var(--accent-text-color);
}

.clients-link:focus-visible {
   outline: 2px solid var(--accent-text-color);
   border-radius: 4px;
}

/* ----------Footer---------- */
.footer-information {
   display: flex;
   align-items: baseline;
}

.footer-contacts:not(:last-child) {
   margin-right: 70px;
}

.footer {
   padding-top: 60px;
   padding-bottom: 60px;

   background-color: var(--secondary-background-one);
}

.bottom-logo {
   display: inline-block;
   margin-bottom: 20px;

   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: var(--contrast-text);

   text-decoration: none;

   transition: color 250ms var(--timing-function);
}

.adress {
   margin-bottom: 9px;

   font-weight: 400;
   font-style: normal;
   font-size: 14px;
   line-height: 2;
   color: var(--contrast-text);
}

.footer .link {
   font-size: 14px;
   line-height: 2;
   color: rgba(255, 255, 255, 0.6);

   transition: color 250ms var(--timing-function);
}

.footer .mail {
   display: inline-block;
   margin-bottom: 9px;
}

.message {
   padding-bottom: 20px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.143;
   text-transform: uppercase;
   color: var(--contrast-text);
}

.footer-soc-list {
   display: flex;
   justify-content: center;
}

.footer-soc-item {
   width: 44px;
   height: 44px;
   margin-right: 10px;
}

.footer-soc-item:last-child {
   margin-right: 0;
}

.footer-soc-item > .footer-soc-link {
   width: 100%;
   height: 100%;
   display: flex;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
   fill: var(--contrast-text);
   align-items: center;
   justify-content: center;

   transition: background-color 250ms var(--timing-function);
}

.footer-soc-icon {
   color: var(--contrast-text);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
   background-color: var(--accent-text-color);
}

.footer-soc-link:hover .footer-soc-icon,
.footer-soc-link:focus .team-soc-icon {
   fill: var(--contrast-text);
}

.footer-soc-link:focus-visible {
   outline: 2px solid var(--accent-text-color);
   border-radius: 4px;
}

/* ----------Portfolio---------- */
.portfolio {
   padding-top: var(--typical-padding-ident);
   padding-bottom: var(--typical-padding-ident);

   background-color: var(--main-background);
}

.portfolio-title {
   width: 1px;
   height: 1px;
   overflow: hidden;
   opacity: 0;
   margin: -1px;
}

/* ----------Filter---------- */
.gallery {
   display: flex;
   margin-bottom: 50px;
   justify-content: center;
}

.gallery-item:not(:last-child) {
   margin-right: 8px;
}

.filter {
   border-radius: 4px;
   border: none;
   padding: 6px 22px;
   margin: 0 auto;

   font-family: inherit;
   font-size: 16px;
   line-height: 1.63;
   text-align: center;

   transition: background-color 250ms var(--timing-function);
}

.filter.active {
   background-color: var(--accent-text-color);
   outline: var(--accent-text-color);
   color: var(--contrast-text);
}

.filter:hover,
.filter:focus {
   background-color: var(--accent-text-color);
   outline: var(--accent-text-color);
   color: var(--contrast-text);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
}

.filter:focus-visible {
   outline: 1px solid #188ce8;
   border-radius: 4px;
}

/* ----------Gallery---------- */
.gallery-list {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
}

.gallery-list-item {
   width: 370px;
   margin: 15px;

   border-right-width: 1px;
   border-right-style: solid;
   border-right-color: #eeeeee;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: #eeeeee;
   border-left-width: 1px;
   border-left-style: solid;
   border-left-color: #eeeeee;

   cursor: pointer;
}

.gallery-list-item:hover,
.gallery-list-item:focus {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-list-item:focus-visible {
   outline: 1px solid #188ce8;
   border-radius: 4px;
}

.product-thumb {
   position: relative;
   width: 100%;
   height: 294px;
   overflow: hidden;
}

.gallery-list-item:hover .product-thumb-text,
.gallery-list-item:focus .product-thumb-text {
   transform: translateY(0);
}
.product-thumb-text {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   bottom: 0;
   padding: 63px 24px;
   transform: translateY(101%);

   background: rgba(33, 150, 243, 0.9);
   font-weight: 400;
   font-size: 18px;
   line-height: 1.56;

   color: var(--contrast-text);
   text-align: justify;

   transition: transform 250ms var(--timing-function);
}

.caption {
   max-width: 370px;

   padding: 20px 24px;
}

.gallery-title {
   margin-bottom: 4px;

   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}

.gallery-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.88;

   color: var(--secondary-text-color);
}
